<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Node Web Server</title>
    </head>
    <body>
        {{> header}}

        <p>Site currently down for Maintenance. Will be back soon.</p>
    
        {{> footer}}
    </body>
</html>